<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render(
        "api/users/user.json.jbuilder", 
        user: current_user
        ).html_safe %>
    </script>
<% end %>
<main id="root">If you see this, react is broken :(</main>

<script type="text/javascript">
    window.logo = "<%= image_url('logo.png') %>"
</script>

<script type="text/javascript">
  window.cart = "<%= image_url('shopping-cart.png') %>";
</script>

<script type="text/javascript">
  window.search = "<%= image_url('loupe.png') %>";
</script>

<script type="text/javascript">
  window.biglogo = "<%= image_url('biglogo.png') %>";
</script>

<script type="text/javascript">
  window.chainnecklace = "<%= image_url('chainnecklace.jpg') %>";
</script>

<script type="text/javascript">
  window.custompins = "<%= image_url('custompins.jpg') %>";
</script>

<script type="text/javascript">
  window.dices = "<%= image_url('dices.jpg') %>";
</script>

<script type="text/javascript">
  window.keyboard = "<%= image_url('keyboard.jpg') %>";
</script>

<script type="text/javascript">
  window.knitsweater = "<%= image_url('knitsweater.jpg') %>";
</script>

<script type="text/javascript">
  window.moonnecklace = "<%= image_url('moonnecklace.jpg') %>";
</script>

<script type="text/javascript">
  window.orangecouch = "<%= image_url('orangecouch.jpg') %>";
</script>

<script type="text/javascript">
  window.paintbrush = "<%= image_url('paintbrush.jpg') %>";
</script>

<script type="text/javascript">
  window.rubberduck = "<%= image_url('rubberduck.jpg') %>";
</script>

<script type="text/javascript">
  window.sneakerpin = "<%= image_url('sneakerpin.jpg') %>";
</script>

<script type="text/javascript">
  window.teddybear = "<%= image_url('teddybear.jpg') %>";
</script>

<script type="text/javascript">
  window.yarn = "<%= image_url('yarn.jpg') %>";
</script>

<script type="text/javascript">
  window.linkedin = "<%= image_url('linkedin.png') %>";
</script>

<script type="text/javascript">
  window.github = "<%= image_url('github.png') %>";
</script>

<script type="text/javascript">
  window.roses = "<%= image_url('roses.jpg') %>";
</script>

<script type="text/javascript">
  window.valentine = "<%= image_url('valentine.jpg') %>";
</script>

<script type="text/javascript">
  window.candy = "<%= image_url('candy.jpg') %>";
</script>

<script type="text/javascript">
  window.cookie = "<%= image_url('cookie.jpg') %>";
</script>

<script type="text/javascript">
  window.heart = "<%= image_url('heart.jpg') %>";
</script>

<script type="text/javascript">
  window.arrow = "<%= image_url('arrow.png')%>";
</script>