<!DOCTYPE html>
<html>

<head>
    <title>Keytsy</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('biglogo.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta property='og:title' content='OkCroissant' />
    <meta property='og:image' content='//https://github.com/arieltlr/okcroissant/blob/main/gifs/splash.gif' />
    <meta property='og:description' content='OKCroissant is a full-stack(MERN) eCommerce website that dynamically generates bread recommendations for users.' />
    <meta property='og:url' content='//https://okcroissant.herokuapp.com/#/' />
</head>

<body>
    <%= yield %>
</body>

</html>